SSH,Long Hostname,short_hostname,ssh root@myserver -p 1022,                                                                                                                                                            

